/* body {
    background-color: #282c34;
    color: white;
    padding: 40px;
    font-family: Arial;
    text-align: center;
  } */
  .normalText{font-size: 20px;}
  * {font-size: 19px;}

  .smaller-input {
    font-size: 15px;
    padding: 4px 7px;
  }
  .row-space{
    margin: 12px;
  }
  .my-modal .modal-content {
    background-color: #434c5f;
    color: white;
  }